

@font-face {
  font-family: "Open Sans Regular";
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  padding: 0;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans Bold", sans-serif;
}

h1 {
  color: #e7e7e7;
  text-transform: uppercase; 
  font-size: 78px;
  margin: 0;
  padding: 0;
}

h2 {
  color: #e7e7e7;
  text-transform: uppercase; 
  font-size: 54px;
  margin: 0;
  padding: 0;
}

h3 {
  text-transform: uppercase; 
  color: #c1c1c1;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Open Sans Regular";
  margin: 0;
  padding: 0;
}

.p-alternative {
  font-family: "Open Sans Regular";
  color: #ffffff;
  margin: 0;
  padding: 0;
}


.welcome {
    position: relative;
    color: #ffffff;    
    background-image: url(../images/football_1920.jpg);
    background-repeat: no-repeat;
    background-position: center 50%;
    background-color: #131836;
    background-size: cover;    
  }

  .welcome::after {
    content: "";
    background-color: #0e1133;
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;    
  }

  .container {
    box-sizing: border-box;
    padding: 45px;    
    position: relative;
    z-index: 2;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
  }
 
  .welcome_label {
    width: 192px;    
    margin-left: auto;
    margin-right: auto;
  }

  .welcome_label_icon {
    width: 100%;
    fill: white;      
  }
 
  .welcome_info {    
    max-width: 1200px;
    margin-top: 294px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
  }

  .welcome_slogan_1 {
    display: block;  
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .welcome_slogan_2 {
    display: block;   
    text-align: right;
    margin: 0;
    padding: 0;
  }

  .welcome_buttons {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }

  .button {
    box-sizing: border-box;
    width: 290px;
    height: 75px;
    padding: 12px 40px 12px;
  }

  .button:nth-child(n+2) {
    margin-left: 42px;
  }

  .apple-button {
    display: flex;
    text-decoration: none;
    background: #5e42b0;      
    border-radius: 78px;    
  }

  .apple-button-icon {
    width: 50px;
    height: 50px;
    fill: white; 
  }

  .apple-button-info {
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .google-button {
    display: flex;
    text-decoration: none;
    background: #5e42b0;       
    border-radius: 78px;   
  }

  .google-button-icon {
    width: 50px;
    height: 50px;
    fill: white;    
  }

  .google-button-info {
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .button-info-1 {    
    margin: 0px 0px;
    color: white;
    font-size: 13px;
    font-family: "Open Sans Regular";    
  }

  .button-info-2 {    
    margin: 0px 0px;
    color: white;
    font-size: 13px;    
  }



  /* main*/



  .athlets {    
    position: relative;    
    padding-top: 116px;
    padding-bottom: 55px;
  }

  .athlets-title {
    display: flex;
    justify-content: flex-end;
  }

  .athlets-info-title {
    width: 45%;
    margin-right: 2%;
  }

  .athlets-preview {
    position: absolute;    
    top: 2%;
    right: 50%;
  }
     
  .athlets-img {
    width: 100%;
  }
  
  .container-athlets {
    display: flex;
    justify-content: flex-end;
    padding: 55px 45px;
   }

  .container-athlets-data {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin-right: 2%;      
  }

  .athlets-description {
    padding: 15px 30px 15px 0;
  }

  .container-athlets--gray {
    background-color:#f6f4fa;
  }

  .container-athlets--purple {
    background-color:#5e42b0;
  }

  .container-title {
    display: flex;
   }

  .number, .number-alternative-athlets {
    padding-top: 9px;
    font-size: 16px;
    margin-right: 10px;
  }

  .number::after {
    display: block;
    width: 16px;
    content: '';
    border-bottom: 3px solid #5e42b0;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .number-alternative-athlets::after, .number-alternative-players::after  {
    display: block;
    width: 16px;
    content: '';
    border-bottom: 3px solid #ffffff;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .number-alternative-players {
    padding-top: 9px;
    font-size: 16px;
    margin-right: 10px;
    color: #5e42b0;
  }

  .players {    
    position: relative;    
    padding-top: 116px;
    
  }

  .players-title {
    display: flex;
    justify-content: flex-start;
  }

  .players-info-title {
    width: 45%;
    margin-left: 5%;
  }

  .players-preview {
    position: absolute;    
    top: 2%;
    left: 35%;
  }
     
  .players-img {
    width: 100%;
  }
  
  .container-players {
    display: flex;
    justify-content: flex-start;
    padding: 55px 45px;
   }

  .container-players-data {
    display: block;  
    width: 45%;
    margin-left: 2%;      
  }
 
  .players-description {
    padding: 15px 30px 15px 0;
  }

  .container-players--gray {
    background-color:#f6f4fa;
  }

  .container-players--purple {
    background-color:#0e1133;
  }





 /* aditional-activityes*/



.aditional-activityes {
  font-size: 18px;
}

 .be-active, .work-it  {
   display: flex;
   position: relative;
  }

  .find-contact {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
  }

  .be-active-preview, .find-contact-preview, .work-it-preview {
    width: 50%;
  }

  .be-active-img, .find-contact-img, .work-it-img {
    width: 100%;
    height: 100%;
  }

  .be-active-info, .find-contact-info, .work-it-info {
    box-sizing: border-box;
    width: 50%;
    padding-left: 7%;
    padding-right: 10%;
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .be-active-description, .find-contact-description, .work-it-description {
    display: flex;
    justify-content: flex-end;
    padding: 55px 0px 55px 0px;
   }

   .container-be-active-number, .container-find-contact-number, .container-work-it-number {
     box-sizing: border-box;
     background-color: #5e42b0 ;
     position: absolute;
     width: 114px;
     height: 100px;
     left: 46%;
     top: 135px;
     display: flex;
     justify-content: center;
     padding-top: 30px;
     padding-bottom: auto;
   }

   .aditional-activityes-number {
     margin: 0;
     padding: 0;
     font-family: "Open Sans Bold";
     color: #ffffff;
   }

   .aditional-activityes-number::after  {
    display: block;
    width: 16px;
    content: '';
    border-bottom: 3px solid #8f7bc8;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
   }






   /*footer*/




   

   .footer {
    position: relative;
    color: #ffffff;    
    background-image: url(../images/game_1920.jpg);
    background-repeat: no-repeat;
    background-position: center 50%;
    background-color: #131836;
    background-size: cover;    
  }

  .footer::after {
    content: "";
    background-color: #0e1133;
    opacity: 0.95;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;    
  }

  .footer-container {
    box-sizing: border-box;
    padding: 200px 0 60px 0;    
    position: relative;
    z-index: 2;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
  }

  .footer-slogan {
    display: flex;
    padding-left: 15%;
    padding-right: 15%; 
    justify-content: center;   
  }

  .footer_icon {
    background-color:#5e42b0;
    width: 135px;
    fill: white;  
    padding: 15px 10px;  
    border-radius: 25px;  
  }
 
  .footer-slogan-info {
    margin-left: 40px;
  }

  .footer-slogan-info-1 {
    font-family: "Open Sans Bold", sans-serif;
    text-transform: uppercase; 
    font-size: 75px;
    display: block;  
    margin: 0;
    padding: 0;
  }

  .footer-slogan-info-2 {
    text-transform: uppercase;
    color: #a496ca;
    font-size: 22px;
    display: block;   
    margin: 0;
    padding: 0;
  }

  .footer_buttons {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }

  .footer_label {
    margin-top: 260px;
  }
 