

@font-face {
  font-family: "Open Sans Regular";
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  padding: 0;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans Bold", sans-serif;
}

h1 {
  color: #e7e7e7;
  text-transform: uppercase; 
  font-size: 78px;
  margin: 0;
  padding: 0;
}

h2 {
  color: #e7e7e7;
  text-transform: uppercase; 
  font-size: 54px;
  margin: 0;
  padding: 0;
}

h3 {
  text-transform: uppercase; 
  color: #c1c1c1;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Open Sans Regular";
  margin: 0;
  padding: 0;
}

.p-alternative {
  font-family: "Open Sans Regular";
  color: #ffffff;
  margin: 0;
  padding: 0;
}


  .welcome {
    position: relative;
    color: #ffffff;    
    background-image: url(../images/football_1920.jpg);
    background-repeat: no-repeat;
    background-position: center 50%;
    background-color: #131836;
    background-size: cover;    
  }

  .welcome::after {
    content: "";
    background-color: #0e1133;
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;    
  }

  .container {
    box-sizing: border-box;
    padding: 90px;    
    position: relative;
    z-index: 2;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
  }
 
  .welcome_label {
    width: 192px;    
    margin-left: auto;
    margin-right: auto;
  }

  .welcome_label_icon {
    width: 100%;
    fill: white;      
  }
 
  .welcome_info {    
    max-width: 1200px;
    margin-top: 294px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
  }

  .welcome_slogan_1 {
    display: block;  
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .welcome_slogan_2 {
    display: block;   
    text-align: right;
    margin: 0;
    padding: 0;
  }

  .welcome_buttons {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }

  .button {
    box-sizing: border-box;
    width: 290px;
    min-width: 282px;
    height: 75px;
    padding: 12px 40px 12px;
  }

  .apple-button {
    display: flex;
    text-decoration: none;
    background: #5e42b0;      
    border-radius: 78px;    
  }

  .apple-button-icon {
    width: 50px;
    height: 50px;
    fill: white; 
  }

  .apple-button-info {
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .google-button {
    display: flex;
    text-decoration: none;
    background: #5e42b0;       
    border-radius: 78px;   
  }

  .google-button-icon {
    width: 50px;
    height: 50px;
    fill: white;    
  }

  .google-button-info {
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .button-info-1 {    
    margin: 0px 0px;
    color: white;
    font-size: 13px;
    font-family: "Open Sans Regular";    
  }

  .button-info-2 {    
    margin: 0px 0px;
    color: white;
    font-size: 13px;    
  }



  /* main*/



  .athlets {    
    position: relative;    
    padding-top: 116px;
    padding-bottom: 55px;
  }

  .athlets-title {
    display: flex;
    justify-content: flex-end;
  }

  .athlets-info-title {
    width: 45%;
    margin-right: 2%;
  }

  .athlets-preview {
    position: absolute;    
    top: 2%;
    right: 44%;
  }
     
  .athlets-img {
    width: 80%;
  }
  
  .container-athlets {
    display: flex;
    justify-content: flex-end;
    padding: 40px 45px;
   }

  .container-athlets-data {
    width: 45%;
    margin-right: 2%;   
  }

  .athlets-description {
    padding-left: 0;
    padding-right: 30px;
  }

  .container-athlets--gray {
    background-color:#f6f4fa;
  }

  .container-athlets--purple {
    background-color:#5e42b0;
  }

  .container-title {
    display: flex;
    align-items: center;
   }

  .number, .number-alternative-athlets {
    
    font-size: 16px;
    margin-right: 10px;
  }

  .number::after {
    display: block;
    width: 16px;
    content: '';
    border-bottom: 3px solid #5e42b0;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .number-alternative-athlets::after, .number-alternative-players::after  {
    display: block;
    width: 16px;
    content: '';
    border-bottom: 3px solid #ffffff;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .number-alternative-players {
    
    font-size: 16px;
    margin-right: 10px;
    color: #5e42b0;
  }

  .players {    
    position: relative;    
    padding-top: 116px; 
  }

  .players-title {
    display: flex;
    justify-content: flex-start;
  }

  .players-info-title {
    width: 45%;
    margin-left: 45px;
  }

  .players-preview {
    position: absolute;    
    top: 2%;
    left: 35%;
  }
     
  .players-img {
    width: 80%;
  }
  
  .container-players {
    display: flex;
    justify-content: flex-start;
    padding: 40px 45px;
   }

  .container-players-data {      
    width: 45%;           
  }
 
  .players-description {
    padding-left: 0;
    padding-right: 30px;
  }
  
  .container-players--gray {
    background-color:#f6f4fa;
  }

  .container-players--purple {
    background-color:#0e1133;
  }





 /* aditional-activityes*/



 .aditional-activityes {
  font-size: 18px;
  }

 .be-active, .work-it  {
    display: flex; 
  }

  .find-contact {
    display: flex; 
    flex-direction: row-reverse;
  }

  .be-active-number, .find-contact-number, .work-it-number {
    position: relative;
    width: 50%;
  }

  .be-active-img, .find-contact-img, .work-it-img {
    width: 100%;
    height: 100%;
  }

  .find-contact-info {
    box-sizing: border-box;
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8%;    
  }

  .be-active-info, .work-it-info {
    box-sizing: border-box;
    width: 50%;
    padding-left: 6%;
    padding-right: 10%;
    padding-top: 8%;
  }

  .be-active-description, .find-contact-description, .work-it-description {
    padding: 0;
    margin-top: 55px;
   }

   
   .container-be-active-number, .container-work-it-number {
     box-sizing: border-box;
     background-color: #5e42b0;
     position: absolute;
     width: 114px;
     height: 100px;
     left: 100%;
     margin-left: -57px;
     bottom: 65%;
     display: flex;
     justify-content: center;
     padding-top: 30px;
     padding-bottom: auto;
   }

   .container-find-contact-number {
    box-sizing: border-box;
    background-color: #5e42b0;
    position: absolute;
    width: 114px;
    height: 100px;
    right: 100%;
    margin-right: -57px;
    bottom: 65%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: auto;
   }

   .aditional-activityes-number {
     margin: 0;
     padding: 0;
     font-family: "Open Sans Bold";
     color: #ffffff;
   }

   .aditional-activityes-number::after  {
    display: block;
    width: 16px;
    content: '';
    border-bottom: 3px solid #8f7bc8;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
   }






   /*footer*/




   

   .footer {
    position: relative;
    color: #ffffff;    
    background-image: url(../images/game_1920.jpg);
    background-repeat: no-repeat;
    background-position: center 50%;
    background-color: #131836;
    background-size: cover;    
  }

  .footer::after {
    content: "";
    background-color: #0e1133;
    opacity: 0.95;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;    
  }

  .footer-container {
    box-sizing: border-box;
    padding: 200px 0 60px 0;    
    position: relative;
    z-index: 2;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
  }

  .footer-slogan {
    display: flex;
    padding-left: 15%;
    padding-right: 15%; 
    justify-content: center;   
  }

  .footer_icon {
    background-color:#5e42b0;
    width: 135px;
    fill: white;  
    padding: 15px 10px;  
    border-radius: 25px;  
  }
 
  .footer-slogan-info {
    margin-left: 40px;
  }

  .footer-slogan-info-1 {
    font-family: "Open Sans Bold", sans-serif;
    text-transform: uppercase; 
    font-size: 75px;
    display: block;  
    margin: 0;
    padding: 0;
  }

  .footer-slogan-info-2 {
    text-transform: uppercase;
    color: #a496ca;
    font-size: 22px;
    display: block;   
    margin: 0;
    padding: 0;
  }

  .footer_buttons {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }

  .footer_label {
    margin-top: 260px;
  }
 




 @media (min-width: 768px) {

    .button:nth-child(n+2) {
      margin-left: 40px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    
    h1 {      
      font-size: 60px;
    }

    h2 {
      font-size: 45px;
    }
    
    h3 {
      font-size: 28px;
    }
    
   
    .welcome_info {     
      margin-top: 150px;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
      align-self: center;
    }

    .welcome_buttons {
       margin-top: 250px;
    }

    .athlets {        
      padding-top: 55px; 
    }

    .players {        
      padding-top: 0px; 
    }

    .container-players {
      display: flex;
      justify-content: flex-start;
      padding: 40px 5%;
     }

    .athlets-info-title {
      width: 45%;
      margin-right: 11%;
    }
  
    .athlets-preview {  
      top: 10%;
      left: -18%;
      max-width: 570px;
    }  
    
    .container-athlets-data {
      width: 55%;
      margin-right: 2%; 
    }

    .container-players-data {      
      width: 55%;  
    }

    .players-info-title {
      width: 45%;
      margin-left: 5%;
    }
    
    .players-preview {
      position: absolute;
      display: flex;
      justify-content: end;
      top: -5%;
      right: 0%;
    }
    
    .be-active, .work-it, .find-contact   {
      display: block;
    } 

    .be-active-number, .find-contact-number, .work-it-number {
      width: 100%;
    }
    
  
    .be-active-info, .work-it-info, .find-contact-info {
      box-sizing: border-box;
      width: 100%;
      padding: 40px 25px;
      min-height: 189px;
      
    } 

    .be-active-description, .find-contact-description, .work-it-description {
      padding: 0;
      margin-top: 0;
     }
  
  .container-be-active-number, .container-work-it-number {
     width: 90px;
     height: 90px;
     left: 5%;
     margin-left: 0px;
     bottom: -2%;
     padding-top: 30px;

   }

  .container-find-contact-number {
    width: 90px;
    height: 90px;
    right: 0%;
    left: 5%;
    margin-right: 0px;
    bottom: -2%;
    padding-top: 30px;
   }

    .footer-slogan {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;    
    }

    .footer_icon {
      background-color:#5e42b0;
      width: 100px;
      fill: white;  
      padding: 15px 10px;  
      border-radius: 25px; 

    }

    .footer-slogan-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
    }
 
    .footer_buttons {
      display: flex;
      justify-content: center;
      margin-top: 350px;
    }

    .footer_label {
      margin-top: 50px;
    }
    
  }



@media (max-width: 767px) {

      h1 {      
        font-size: 25px;
      }

      h2 {
        font-size: 50px;
      }
      
      h3 {
        font-size: 20px;
      }

      .container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 20px 80px 20px;    
        position: relative;

        z-index: 2;
        left:0;
        right:0;
        top:0;
        bottom:0;
        width: 100%;
        height: 100%;
      }
      
      .welcome_info {    
        max-width: 1200px;
        margin-top: 100px;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
      }

      .welcome_slogan_2 {
         text-align: start;
         margin-left: 15%;
         padding: 0;
      }

      .welcome_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
      }   

      .apple-button-icon {
        width: 30px;
        height: 30px;
        fill: white; 
      }
    

      .button-info-1 {    
        margin: 0px 0px;
        color: white;
        font-size: 10px;
        font-family: "Open Sans Regular";    
      }
    
      .button-info-2 {    
        margin: 0px 0px;
        color: white;
        font-size: 10px;    
      }

      .google-button-icon {
        width: 30px;
        height: 30px;
        fill: white;    
      }
        
      .button:nth-child(n+2) {
        margin-top: 42px;
      }

      .button {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        width: 290px;
        min-width: 141px;
        height: 45px;
        padding: 6px 20px 6px;
      }

       

      .athlets, .players { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .athlets-info, .players-info {
        font-size: 12px;
        width:100%;
     }

      .container-athlets, .container-players {
        display: block;
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px;
       }

       .container-athlets-data, .container-players-data {
        width: 100%;          
      }
    
      .number, .number-alternative-athlets {
        font-size: 12px;
      }
    
      .number::after {
        width: 13px;
        margin-top: 2px;       
      }
    
      .number-alternative-athlets::after, .number-alternative-players::after  {
        width: 13px;     
      }
    
      .number-alternative-players {
        font-size: 12px;
      }

      .athlets-description, .players-description {
        padding-left: 0;
        padding-right: 0;
     }
  
      .container-athlets:nth-child(n+2), .container-players:nth-child(n+2) {
      margin-top: 0px;
    }

      .athlets-preview, .players-preview {
        position: static;    
      }

      .players-preview {
        display: flex;
        align-self: flex-end;       
      }

      .athlets-img, .players-img {
        width: 100%;
        }
      
      .be-active, .work-it  {
         display: flex;
         flex-wrap: wrap;
      }

      .find-contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

    
  .be-active-number, .find-contact-number, .work-it-number {
    width: 100%;
  }
      .aditional-activityes-title {
        font-size: 34px;
      }

      .be-active-info, .work-it-info, .find-contact-info {
        box-sizing: border-box;
        width: 100%;
        min-height: 207px;
        padding-left: 6%;
        padding-right: 10%;
        padding-top: 10%;
        padding-bottom: 50px;
      }

      .be-active-description, .find-contact-description, .work-it-description {
        font-size: 14px;
        padding: 0;
        margin-top: 15px;
      }
  
      .container-be-active-number, .container-work-it-number {
        width: 60px;
        height: 60px;
        left: 5%;
        margin-left: 0px;
        bottom: -2%;
        padding-top: 18px;
   
      }
   
     .container-find-contact-number {
       width: 60px;
       height: 60px;
       right: 0%;
       left: 5%;
       margin-right: 0px;
       bottom: -2%;
       padding-top: 18px;
      }
      .aditional-activityes-number {
        font-size: 12px;
      }

      .athlets-info-title, .players-info-title {
        width: 100%;      
        margin-right: auto;
        margin-left: auto;
      }


      .footer-container {
        box-sizing: border-box;
        padding: 80px 0 10px 0;    

      }


      .footer_icon {
       
        width: 60px;
        padding: 12px 10px;  
        border-radius: 15px; 
  
      }

      .footer-slogan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;    
      }

      .footer-slogan-info {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
      }
    
      .footer-slogan-info-1 {
        font-size: 32px;
      }

      .footer-slogan-info-2 {
        font-size: 14px;
      }

      .footer_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
      }

      .button:nth-child(n+2) {
        margin-top: 15px;
      }

      .footer_label {
        margin-top: 80px;
      }

    }


        
  


 
